img{
    margin-top: 3%;
}
.Us{
    width: 300px;
    text-align: center;
    margin-right: 5%;
}
.text-img{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}
.btn{
    margin-bottom: 2%;
}
.back{
    margin-top: 1%;
}